*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

header{
    height: 13vh;
    width: 100%;
    background-color: #444444;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    display: flex;
    height: 87vh;
    background-color: #fff7ee;
}

.section-menu{
    background-color: #fff;
}

.left-menu{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 20vw;
    height: 100%;
    padding: .7rem;
}

.item-left-menu a{
    color: #000;
}

.item-left-menu a{
    height: 7.8vh;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.item-left-menu a:hover{
    color: #4453d4;
    border-bottom: 2px solid #4453d4;
    cursor: pointer;
}

.post-form{
    background-color: #ffffff;
    margin: 1rem;
    width: 100%;
    box-shadow: 0 0 6px #00000041;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4rem 2rem;
}

.post-form h2{
    align-self: center;
}

img{
    height: 50px;
    width: 100px;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.nu-btn{
    border: none;
    background-color: #0077ff;
    color: #fff;
    cursor: pointer;
    width: 30%;
    height: 6vh;
    align-self: center;
    margin-bottom: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nu-btn:hover{
    background-color: #0062d3;;
}

span{
    cursor: pointer;
}

.input-div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 14vh;
    padding: .5rem;
    justify-content: space-around;
    font-size: 1.3rem;
}

.input-div label{
    padding: .4rem;
}

.input-div input{
    background-color: gainsboro;
    border: none;
    outline: none;
    height: 6vh;
}

.input-div input:hover{
    border-bottom: 2px solid #0077ff;
}

#save{
    border: none;
    background-color: #0077ff;
}

a{
    color: #000;
}